APP_NAME=MyApp
APP_ENV=local
APP_KEY=

# DB_CONNECTION=sqlite

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=mydb


BCRYPT_ROUNDS=12

SESSION_DRIVER=storage
SESSION_LIFETIME=180
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=storage
LOGS=storage

MAIL_SMTP=gmail
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_NAME="${APP_NAME}"
MAIL_FROM_ADDRESS="john@example.com"
