APP_NAME=MyApp
APP_ENV=local



DB_CONNECTION=sqlite
DB_DATABASE=database.sqlite

BCRYPT_ROUNDS=12

SESSION_DRIVER=database
SESSION_LIFETIME=180
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
LOGS=

MAIL_SMTP=gmail
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_NAME="${APP_NAME}"
NAIL_FROM_ADDRESS="hello@example.com"
