@font: 'Inter', sans-serif;
@bgColor: #f2f2f2;
@fontSize: 14px;

* {
    box-sizing: border-box;
    font-family: @font;
}

html{
    font-size: @fontSize;
}

body {
  margin: 0;
  background-color: @bgColor;
}

h3 {
    color: darken(10%, "#ff56bb");
}

span{
    color: darken(5%, "#0088ff");
}
