@font: 'Inter', sans-serif;
@bgColor: #f2f2f2;
@fontSize: 14px;
@primaryColor: #0099ff;
@pink: #ff99aa;

* {
    box-sizing: border-box;
    font-family: @font;
}

html{
    font-size: @fontSize;
}

body {
  margin: 0;
  background-color: @bgColor;
}

h3 {
    color: @primaryColor;
    text-align: center;

    span {
        color: darken(@pink, 15%);
    }
}

input {
    padding: 1rem 1.6rem;
}
