* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
html {
  font-size: 100%;
}
body {
  margin: 0;
  background-color: #f2f2f2;
  line-height: 1.6;
}
h3 {
  color: #0099ff;
  text-align: center;
}
h3 span {
  color: #ff4d6a;
}
.btn {
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1rem;
  font-weight: 600;
  background-color: #0099ff;
  border-radius: 6px;
  border: 1px solid #0099ff;
  margin: 0.75rem 1.5rem;
}
.center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.pink {
  letter-spacing: 1px;
  color: #ff99aa;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
table,
td,
th {
  border-style: solid;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
}
td,
th {
  padding: 8px;
}
video,
img {
  display: block;
  width: 100%;
  height: auto;
}
